@model MaterialsListViewModel

<h1>@Model.CurrentCategory</h1>
<div class="row">
    @foreach (var material in Model.Materials)
    {
        <partial name="_MaterialCard" model="material" />
    }
</div>
